/*

font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif;
font-family: "Playfair Display", serif;

*/

// Fonts

$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif;

// Colors

$dark: #242b33;
$accent: #d4c17f;
$white: #fff;
$footer-bg: #2d343c;
$placeholder: #BEBEBE;
$privacy: #E7E7E7;
$footer-bg: #2d343c;

// Media

$tablet: 959px;